/app/src/androidTest
/app/src/test
/.idea/compiler.xml
/.idea/findbugs-idea.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles
/.idea/encodings.xml
/gradle.properties
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
